@model mini_E_commerce_Aldakkaneh.Models.Cart

@{
    ViewBag.Title = "تعديل السلة";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4">
                <h3 class="card-title text-center mb-4" style="color: mediumslateblue;">تعديل السلة</h3>

                @using (Html.BeginForm("Edit", "Carts", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.quantity, "الكمية", new { @class = "form-label" })
                                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(model => model.description, "اسم المنتج", new { @class = "form-label" })
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            @*@Html.LabelFor(model => model.imgprodect, "الصورة", new { @class = "form-label" })*@
                            <img src="../../imges/@Model.imgprodect" alt="صورة المنتج" class="img-fluid rounded" style="max-width: 100%; height: auto;" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="حفظ التغييرات" class="btn btn-primary" style="background-color: blueviolet;" />
                        @Html.ActionLink("العودة إلى السلة", "Index", null, new { @class = "btn btn-secondary ms-2" })

                    </div>
                }

           
            </div>
        </div>
    </div>
</div>
