@model mini_E_commerce_Aldakkaneh.Models.Product

@{
    ViewBag.Title = "تفاصيل المنتج";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="product-details alert alert-light p-4 shadow-lg">
                <h3 class="text-center mb-4">تفاصيل المنتج</h3>
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../imges/@Model.imgprodect" alt="صورة المنتج" class="img-fluid rounded" style="max-width: 100%; height: auto;" />
                    </div>

                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4">
                                وصف المنتج
                            </dt>
                            <dd class="col-sm-8">
                                @Model.description
                            </dd>

                            <dt class="col-sm-4">
                                التصنيف
                            </dt>
                            <dd class="col-sm-8">
                                @Model.Category.name
                            </dd>

                            <dt class="col-sm-4">
                                السعر
                            </dt>
                            <dd class="col-sm-8">
                                @Model.price
                            </dd>
                        </dl>

                        <form action="@Url.Action("AddToCart", "Carts")" method="post" class="mt-4">
                            <div class="mb-3">
                                <label for="quantity" class="form-label">الكمية:</label>
                                <input type="number" id="quantity" name="quantity" class="form-control" min="1" value="1" />
                            </div>
                            <input type="hidden" name="productId" value="@Model.product_id" />
                            <button type="submit" class="btn btn-primary" style="background-color:darkmagenta">أضف إلى السلة</button>

                        </form>
                        <br />
                        <a href="@Url.Action("prodect", "Products")" class="btn btn-secondary" style="background-color:blueviolet">الرجوع لصفحة المنتجات</a>

                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
